{% extends 'base/master.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock title %}

{% block css %}
<style>
   .container {
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}
body{
    background-color: aqua;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;}

.container{
    background-color: rgba(255, 255, 255,0.5);
    
    justify-content: center;
    align-items: center;
}
</style>
{% endblock css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome, {{ user.username }}!</h1>
            <p>Here is your dashboard:</p>
            <!-- Add your dashboard content here -->
        </div>
        <div class="col-md-6">
            <!-- Add any additional dashboard elements here -->
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
<script></script>
{% endblock js %}