{% extends 'base/master.html' %}
{% block title %}Profile{% endblock %}

{% block css %}
<style>
    /* Add your custom CSS styles here */
    .profile-card {
        background-color: #f8f9fa;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .profile-card:hover {
        transform: scale(1.05);
    }

    .profile-picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="profile-card text-center">
                <img src="{{profile.picture.url}}" alt="Profile Picture" class="profile-picture">
                <h2 class="mt-3">{{profile.first_name}} {{profile.last_name}}</h2>
                <p class="text-muted">Software Developer</p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc et aliquam tincidunt,
                    urna nisl ultricies nunc, vel aliquet nisl nunc id lectus.</p>
                <a href="{% url 'hr_profile_edit' %}" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}